<section>
  <%= for question <- @questions do %>
  <article class="article-listed">
    <h3><a href="<%= Routes.page_path(@conn, :show, question.slug) %>"><%= question.title %></a></h3>
  </article>
  <% end %>
</section>
