<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Expert Advice · A stackoverflow clone with half the advice and double the trolls</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <% account = Guardian.Plug.current_resource(@conn) %>
          <%= if account do %>
            <span class="inline-block"><%= account.username %></span>
            <span class="inline-block">|</span>
            <a class="inline-block" href="<%= Routes.auth_path(@conn, :logout) %>">Logout</a>
          <%= else %>
            <a class="inline-block" href="<%= Routes.auth_path(@conn, :show) %>">Login</a>
            <span class="inline-block">|</span>
            <a class="inline-block" href="<%= Routes.auth_path(@conn, :new) %>">Register</a>
          <% end %>
        </nav>
        <a href="/" class="main-title">
          Expert Advice
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
